<a href="https://colab.research.google.com/github/abcdqwer1/ormi3/blob/main/%EC%98%A4%EB%A5%B4%EB%AF%B8_3%EA%B8%B0_python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연산과 구문

# 산술 연산자

In [1]:
{'one':1} + {'two':2} # error
{5} + {6} # error

TypeError: ignored

In [2]:
7 -- 4

11

In [3]:
7 --- 4

3

In [4]:
-2 ** 2 # 주의 매우 주의

-4

In [ ]:
# 음수의 경우 두번째 값이 -2로 나올 것이라 예상하셨겠지만 -3이 나온 것을 확인할 수 있습니다.
# 이는 // 연산이 내림이기 때문에 그렇습니다.
a = -5
b = 2
print(a / b) # 결과: -2.5
print(a // b) # 결과: -3

In [5]:
10 / 0 # ZeroDivisionError

ZeroDivisionError: ignored

In [6]:
a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.2f}')  # 결과: 10 ÷ 3 = 3.33

10 ÷ 3 = 3.33

In [7]:
a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.3f}')  # 결과: 10 ÷ 3 = 3.33

10 ÷ 3 = 3.333

# 비교 연산자

In [8]:
print('한' < '후')

True

In [9]:
print('apple' < 'banana') # 결과: True

True

In [ ]:
x = 10
print(5 < x < 15) # 결과: True

# 논리연산자

In [ ]:
# and(곱), or(합), not(부정)
x = True # 1
y = False # 0

print(True and False) # False
print(True and True) # True
print(True or False) # True
print(True or True) # True

In [ ]:
for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

In [ ]:
for i in range(101):
    if i % 3 == 0:
        if i % 5 == 0:
            print(i)

for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

In [ ]:
# https://codingdojang.com/scode/350?answer_mode=hide
for i in range(101):
    if i % 3 == 0 or i % 5 == 0:
        print(i)

In [ ]:
print(not True)  # 결과: False
print(not False) # 결과: True

In [12]:
# 여기서부터는 나아가기 입니다.
a = True
b = False

a and b and ccc and ddd # 디버깅 할 때 조심

False

In [11]:
a = True
b = False

a or b or eee or fff

True

In [ ]:
# 이건 왜 True이죠???
# 헷갈리시면 괄호 써주세요.
#                                                                   우선순위
# x OR y (또는 연산자)	    if x is FALSE, then y, else x	        1
# x AND y (그리고 연산자)	if x is FALSE, then x, else y	        2
# NOT x (부정 연산자)	    if x if FALSE, then True, else FALSE	3
a = True
b = False
c = False

a or b and c

In [ ]:
a = True
b = False
c = False
d = True

a and b or c and d

In [ ]:
a = True
b = False
c = False
d = True

a and not b or c and d
(a and (not b)) or (c and d)

In [ ]:
# 단락회로평가
a = 'hello'
b = ''

a or b

In [ ]:
# 단락회로평가
a = 'hello'
b = 'world'

a or b

In [ ]:
# 단락회로평가
a = ''
b = 'world'

a or b

In [ ]:
username = ''

username = username or '이름을 정하지 않았습니다.'
username

In [ ]:
username = 'licat'

username = username or '이름을 정하지 않았습니다.'
username

In [ ]:
# result = functionA() or functionB()
# 앞에 값이 None이나 0이 아니라면 뒤에 값으로 result를 만들겠다는 얘기입니다.

In [22]:
# 1번 문제
x = 3
y = 5
result = (isinstance(x, int) and isinstance(y, int)) # 여기에 논리연산자를 더 붙여 두 수를 더하는 코드를 만들어보세요.
result # 8이 출력되어야 합니다.

In [41]:
x = 3
y = 5
result = (isinstance(x, int) and isinstance(y, int)) and (x + y)
print(result)

8

In [38]:
# 2번 문제 다음 출력값은 무엇일까요? 왜 그러한가요?
print('hello' < 'hell o')  # 5번째 자리인 o와 공백의 유니코드 값을 비교할때 o의 유니코드값이 우선순위가 더 높습니다.
print([10, 20, 30] < [10, 19, 100]) # 리스트에 인덱스를 순서대로 하나씩 확인하는데 두번째 자리를 비교할때 20이 더 큰 숫자기 때문입니다.
print(10 % 3.3 == 0.1) # 부동소수점 문제로 근사값(0.10000000000000053)으로 대체 되며, 모든 값에 10을 곱하고 계산 후 다시 나누는 방법으로 해결 할 수 있습니다.

False
False
False

In [54]:
#문제 3번
# 어떤 이메일을 쓰고 있는지 출력하는 코드를 작성해주세요.

email2 = 'abc@gmail.com' # gmail
email3 = 'abc@naver.com' # naver
email4 = 'abc@weniv.co.kr' # weniv
email5 = 'li.cat@weniv.co.kr' # weniv

emails = [
    (email2.split('@')[1].split('.')[0]),
    (email3.split('@')[1].split('.')[0]),
    (email4.split('@')[1].split('.')[0]),
    (email5.split('@')[1].split('.')[0])
          ]

print(emails)

['gmail', 'naver', 'weniv', 'weniv']

# in 구문

In [1]:
# is는 is not이고 in은 not in입니다.
10 in [10, 20, 30]

True

In [2]:
'h' in 'hello world'

True

In [3]:
'world' in 'hello world'

True

In [4]:
'hell' not in 'hello world'

False

In [6]:
a = {'key1': 'value1', 'key2': 'value2'} #딕셔너리
b = {10, 10, 20}
10 in b # 출력: True
{10} in b # 출력: False, 주의
{10, 20} in b # 출력: False, 주의

'key1' in a # 출력: True
'value1' in a # 출력: False
('key1', 'key2') in a # 출력: False
{'key1':'value1'} in a # error
'value1' in a.values()

True

# 연산자 우선순위

In [7]:
-2 ** 2

-4

In [8]:
True * True and True + False

1

In [ ]:
# 복합 할당 연산자가 가장 나중입니다.
a = 10
a *= 10 + 100

# 연습문제

In [ ]:
# 배우신 분들
# 그리디 알고리즘입니다.
# 10000원짜리를 들고가서 1500원짜리 월드콘을 사먹었습니다. 거스름돈을 가장 적게 줄 수 있는 코드를 작성하세요.

거스름돈 = 10000 - 1500
print(거스름돈 // 5000, '5000원')
거스름돈 = 거스름돈 % 5000

print(거스름돈 // 1000, '1000원')
거스름돈 = 거스름돈 % 1000

print(거스름돈 // 500, '500원')
거스름돈 = 거스름돈 % 500

print(거스름돈 // 100, '100원')
거스름돈 = 거스름돈 % 100

# 함수

In [9]:
# 들여쓰기
def printnum(): #함수의 정의
    print('1')
    print('2')
    print('3')

a = printnum() #함수의 호출
print(a)

1
2
3
None

In [12]:
# 들여쓰기
def printnum(): #함수의 정의
    print('1')
    print('2')
print('3')
dir(printnum())

3
1
2

['__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [13]:
printnum.__str__()

'<function printnum at 0x7feb85708670>'

In [ ]:
# 파선아실
def function(x, y):
    z = x + y
    return z
print('function(5, 7)=', function(5, 7))

In [14]:
# 함수 안에 함수
def f():
    def ff():
        return 100
    x = ff()
    return x

f()
# ff() # 함수 내부에서 선언한 변수와 함수 내부에서 선언된 함수는 밖에서 호출할 수 없습니다.

100

In [20]:
# 함수를 아규먼트로 전달
def f(a, b):
    return a + b

def ff(a):
    return a(10, 20)

ff(f)

30

In [ ]:
# 함수를 미리 만들어 놓고 pass를 넣어두면 에러가 안남
# pass를 사용했을 때 나중에 개발 될 것이라는 표시를 해놓는 것과 같습니다.
# return 대신 사용하는 이유 글자수도 2자가 더 짧고 타이핑이 빠름.
def hit():
    pass
def move():
    pass
def heal():
    pass # 아무 의미없음

In [ ]:
def f(a, b, c):
    print(a, b, c)

# f() # error
# f(100, 10) # error
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

In [ ]:
# 함수를 return으로 전달

In [ ]:
def f(a=10, b=20, c): # 이 코드는 가능하지 않습니다.
    print(a, b, c)

def f(a, b=20, c=30): # 이 코드는 가능합니다.
    print(a, b, c)

In [21]:
def f(a=10, b=20, c): # c만 default value를 안주게 되면 error, 순서대로 안주어야 합니다.
    print(a, b, c)

# f() # error
# f(100, 10) # error
# f(a=100, b=200, c=300) # error
# f(c=300, a=100, b=200) # error
# f(c=300) # error

SyntaxError: ignored

In [22]:
def f(a, b=20, c=30): # 이 코드는 가능합니다.
    print(a, b, c)

# f() # error
# f(100, 10)
f(a=100, b=200, c=300)
# f(c=300, a=100, b=200)
# f(c=300) # error

100 200 300

In [23]:
# a와 b를 더한 값과 a와 b를 뺀 값을 곱하는 함수를 만들어주세요.

def f(a=0, b=0):
    print((a+b)*(a-b))
f(a=2, b=3)

-5

In [ ]:
# a와 b를 더한 값과 a와 b를 뺀 값을 곱하는 함수를 만들어주세요.
a = 2
b = 3
# (2 + 3) * (2 - 3) = -5가 출력이 되어야 합니다.
# 조건1: a가 입력되지 않으면 0이 입력됩니다.
# 조건2: b가 입력되지 않으면 0이 입력됩니다.

def multiple (x=0, y=0):
    return x * y

def plus (x=0, y=0):
    return x + y

def minus (x=0, y=0):
    return x - y

multiple(plus(a,b), minus(a,b))

## 지역변수와 전역변수

In [24]:
# 지역변수와 전역변수
def f():
    inner_value = 100

print(inner_value)

NameError: ignored

In [26]:
x = 100
def f():
    print(x)

f()

100

In [27]:
x = 100
def f():
    y = x + x
    return y

f()

200

In [28]:
x = 100
def f():
    x = 200
    return x

f()

200

In [30]:
# global 사용전
a = 100
def f():
    global a
    a = a + 1
f()

In [31]:
# global을 하면 함수가 얼만큼 중첩되어 있건 최상단에 있는 a를 바라봅니다.

a = 10
def f():
    a = 100
    print(a)
    def ff():
        a = 1000
        print(a)
        def fff():
            # global a
            nonlocal a # nolocal을 사용하면 바로 위 변수를 사용함
            # a = 10000
            print(a)
        fff()
    ff()
f()
print(a)

100
1000
1000
10

In [ ]:
# nonlocal
a = 10
def f():
    a = 100
    print(f'f a: {a}')
    def ff():
        a = 1000
        print(f'ff a: {a}')
        def fff():
            nonlocal a
            a = 100
            print(f'fff a: {a}')
        fff()
        print(f'ff a: {a}')
    ff()
f()
print(f'global a: {a}')

## 재귀함수

In [32]:
#sys.setrecursionlimit -> 제한을 늘릴 수 있음
def 숫자출력(count):
    if count > 100:
        return
    print(count)
    return 숫자출력(count+1) #값을 1부터 반복횟수 까지의 값을 출력

숫자출력(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
# 재귀함수는 사용하지 마세요.
# 위험하고 효율이 좋지 않습니다.
# 반복문 <-> 서로 상호 호환이 가능합니다.
# 반복문 사용하세요!

In [33]:
# 상식 수준에서 다음 재귀는 외우셨으면 좋겠습니다.
# 1.팩토리얼
# 2.문자열 뒤집기

In [34]:
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n-1)

factorial(5)

120

In [ ]:
def reversed_str(s):
    if len(s) <= 1:
        return s
    return reversed_str(s[1:]) + s[0]

reversed_str('hello')

'''
함수 호출               return
reversed_str(n)         reversed_str(s[1:]) + s[0]
reversed_str('hello')   reversed_str('ello') + h
reversed_str('ello')    reversed_str('llo') + e
reversed_str('llo')     reversed_str('lo') + l
reversed_str('lo')      reversed_str('o') + l
reversed_str(o)         'o'
'''

In [35]:
# 문자열 뒤집기
s = 'hello'
result = ''

for i in s:
    result = i + result
    print(result)

result

h
eh
leh
lleh
olleh

'olleh'

# 함수 나아가기

In [44]:
def f():
    x = 'hello world'\
        .upper()\
        .replace(' ', '')\
        .lower()
    return x
f()

'helloworld'

In [42]:
# 여러개의 값 반환하기

def f():
    a = 10
    b = 20
    c = 30
    return a, b, c

f()

(10, 20, 30)

In [41]:
# None은 출력되지 않음.
a = None
a

In [ ]:
print() # built-in function

def f(): # function
    pass

# 여기서 print와 f는 변수입니다.
# 변수는 가리키는 것입니다.
leehojun = print
leehojun('hello world')

In [45]:
# 변수 관리하는 방법
x = 10
y = 20
l = [x, y]

def add(x, y):
    return x + y

def sub(x, y):
    return x + y

ll = [add, sub]
ll[0](10, 20) # add(10, 20)과 같습니다.

30

In [46]:
# 매우 중요!
add2 = lambda x, y:x + y
sub2 = lambda x, y:x + y
add2(10, 20)

30

In [ ]:
x = map(int, '1234')

for i in x:
    print(i)

for i in x: # 더이상 순회가 안됩니다! 이 이유에 대해서는 뒤에서 진행하겠습니다.
    print(i)

In [ ]:
x = map(int, '1234')
# 1번째 수행 int('1')
# 2번째 수행 int('2')
# 3번째 수행 int('3')
# 4번째 수행 int('4')

In [ ]:
list(map(int, '1234'))

In [ ]:
def f(x):
    return x * 2

list(map(f, '1234'))

In [ ]:
list(map(lambda x:x*2, '1234'))

In [49]:
# 10진수로 유니코드표에서 찾아 대응되는 값을 줍니다.
chr(65)
chr(97)
chr(54616)

'하'

In [50]:
ord('a')
ord('하')

54616

In [56]:
int('D558', 16)

54616

In [57]:
map(lambda x: x**2, [1, 2, 3, 4]) # 계산 되기 전

In [58]:
list(map(lambda x: x**2, [1, 2, 3, 4])) # 계산 된 후

[1, 4, 9, 16]

In [60]:
# 람다 사용
list(filter(lambda x: x>10, [1, 2, 11, 12, 9, 6, 13]))

[11, 12, 13]

In [61]:
# 함수 사용
def filter_function(x):
    return x > 10

list(filter(filter_function, [1, 2, 11, 12, 9, 6, 13]))

[11, 12, 13]

In [62]:
list(zip('abc', '123'))

[('a', '1'), ('b', '2'), ('c', '3')]

In [63]:
# 매핑되는곳 까지만 출력됨
list(zip('abc', '1234567'))

[('a', '1'), ('b', '2'), ('c', '3')]

In [66]:
# zip은 좌표계에서 자주 응용됩니다.
# https://codingdojang.com/scode/408?answer_mode=hide

s = [1, 3, 4, 8, 13, 17, 20]
list(zip(s, s[1:]))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [ ]:
# sorted는 지금 단계에서 하지 않아요. 바로 뒤에 있으니 지금 이해하려 하지 마세요.
# 지금은 zip에 집중해주세요.
sorted(zip(s, s[1:]), key=lambda x:x[1]-x[0])
# sorted(zip(s, s[1:]), key=lambda x:x[1]-x[0])[0] # 정답 코드

In [ ]:
# 자바스크립트에서 zip 만들기
# function zip(a, b){
#     return a.map((v, i) => [v, b[i]])
# }

In [71]:
format(100000000, ',')

'100,000,000'

In [72]:
len('hello world')

11

In [73]:
max(1, 2)

2

In [75]:
min({1, 2})

1

In [78]:
sum([1, 2, 3, 4, 5])

15

In [82]:
class Charactor:
    def __repr__(self):
        return 'hello'
    def __str__(self):
        return 'world'

hero = Charactor()
print(hero)
hero

world

hello

In [83]:
repr(hero)

'hello'

In [87]:
가수 = ['뉴진스', '르세라핌', '에스파', '아이브']
list(enumerate(가수, 1))

for i, j in enumerate(가수, 1):
    print(i, j)

1 뉴진스
2 르세라핌
3 에스파
4 아이브

In [88]:
type(print)

builtin_function_or_method

In [90]:
type(enumerate)

type

In [91]:
type(max)

builtin_function_or_method

In [92]:
type(len)

builtin_function_or_method

In [93]:
type(format)

builtin_function_or_method

In [94]:
type(range)

type

In [95]:
type(zip)

type

In [96]:
type(map)

type

In [97]:
type(filter)

type

In [98]:
type(int)

type

In [99]:
type(repr)

builtin_function_or_method

In [108]:
# range(start, stop, step) # 슬라이싱과 비슷한 형태를 지니고 있습니다.
print(range(10))
print(list(range(10)))
x = range(10)
print(type(x))
print(list(range(0, 10, 2)))
repr(list(range(10, 100, 89)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'range'>
[0, 2, 4, 6, 8]

'[10, 99]'

In [ ]:
# 2.x에서 range와 그 외 값들에 대한 히스토리
# print(range(10))
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 메모리를 모두 차지해야 합니다.

# print(range(1000000000000000000000))
# 메모리 효율이 극도로 안좋아짐

# 그런데 3.x에서 range(10000000000000000)는 메모리 효율이 안좋나요?
# 시작과, 끝, 스텝값만 가지고 있기 떄문에 메ㅐ모리 낭비가 전혀 없습니다.

#2.x 에서도 3.x와 같은 range타입이 있었습니다. xrange 문법입니다. xrange 문법이 3.x되면서 range가 된겁니다.
# 2.x 에서 사용
# print(xrange(10)) # xragne(10)
# for i in xrange(10): # 순회가능
#    print(i)

In [109]:
list(reversed('hello world'))

['d', 'l', 'r', 'o', 'w', ' ', 'o', 'l', 'l', 'e', 'h']

In [110]:
list(reversed(sorted([1, 2, 3, 4, 5])))

[5, 4, 3, 2, 1]

In [112]:
# 매우 중요합니다.
# 알고리즘 문제에 단골 built-in function
sorted([1, 2, 100, 200, 3, 4, 10, 20])
sorted([1, 2, 100, 200, 3, 4, 10, 20], reverse=True)

[200, 100, 20, 10, 4, 3, 2, 1]

In [114]:
sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'])

sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'], key=len)
#위 코드는 sorted([5, 1, 4, 3, 3, 1])와 같습니다.

['l', 'a', 'hel', 'heo', 'hllo', 'hello']

In [133]:
data = [
    [2, 'hello world', 30],
    [3, 'hello worl', 33],
    [4, 'hello word', 31],
    [5, 'hello wold', 35],
    [6, 'hello wrld', 39]
]

# 1번째 문제 : 첫번째 요소로 값을 정렬하세요.
sorted(data)

# 2번째 문제 : 두 번째 요소의 문자열 길이를 기준으로 정렬하세요.
sorted(data, key=lambda x:len(x[1]))

# 3번째 문제 : 세 번째 요소 기준으로 정렬하세요.
sorted(data, key=lambda x:x[2])

# 4번째 문제 : 첫번째 요소와 세 번째 요소의 차가 큰 순으로 출력해주세요.

sorted(data, key=lambda x:x[0] - x[2])

[[6, 'hello wrld', 39],
 [3, 'hello worl', 33],
 [5, 'hello wold', 35],
 [2, 'hello world', 30],
 [4, 'hello word', 31]]