<a href="https://colab.research.google.com/github/abcdqwer1/ormi3/blob/main/%EC%98%A4%EB%A5%B4%EB%AF%B8_3%EA%B8%B0_python_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 일반 문자열

In [ ]:
# 대소문자를 가립니다.
# ^hello는 처음에 나오는 hello 입니다.
# hello^는 마지막에 나오는 hello는 아닙니다.
# hello$는 마지막에 나오는 hello 입니다.
# h.llo는 h 다음에 어떤 문자든 1개의 문자(영문, 특수문자, 숫자, 한글 등)가 오며 llow가 이어 나와야 합니다.

In [ ]:
# h[eao]llo는 hello, hallo, hollo를 선택합니다. 3개 문자 중 택1 입니다.
# h[e!ao]llo는 hello, hallo, hollo, h!llo를 선택합니다. 3개 문자 중 택1 입니다.
# [a-z]
# [a-zA-Z]
# [0-9]
# [a-zA-Z0-9]
# [가-힣]
# [helloworld]
# ^[a-z] : 부정이 아닙니다. 알파벳으로 시작하는 문자열입니다.
# [^a-z] : 대괄호 안에 들어가면 부정입니다.
# h[a^o]llo : 부정을 하려면 앞에 사용해야함 이것 처럼 중간에 사용하면 인식되지않음

In [ ]:
# 저주의 숫자 3과 5
# A마을에서는 3과 5를 사용하지 않습니다.
# 3의 배수와 5배수는 3과 5가 들어가지만 않으면 사용합니다. 예를 들어 10은 사용합니다!
# 그러면 이 마을에서 10진수 30이라는 숫자는 어떻게 표현할까요?
# 10진법 - A마을에 숫자체계
# 1 - 1
# 2 - 2
# 3 - 4
# 4 - 6
# 5 - 7
# 6 - 8
# 7 - 9
# 8 - 10
# 9 - 11
# 10 - 12
# 11 - 14
# 와 같은 식으로 11은 14로 표현해야 합니다.

In [ ]:
def solution(n: int):
    answer = list(filter(lambda x: "3" not in str(x) and "5" not in str(x), range(100)))
    return answer[n]

In [ ]:
def solution(n):

    count = 0
    for i in range(1,n+1):
        count+=1
        while '3' in str(count) or '5' in str(count):
            count+=1
    return count

In [ ]:
# sum('1234', 'hello') 안됨x
# sum(['1', '2'], hello) 안됨x
# sum(['1', '2'], []) 됨

In [ ]:
def ngram(s, n):
    for i in range(0, len(s), n):
        print(s[i:i+n])

ngram('python', 2)

In [ ]:
p = re.compile(r'[a-z]{2}')
s = "abcdefghijk"
p.findall(s)

In [ ]:
print(type(html))
print(dir(html))
print(html.encoding)
# html.encoding = 'utf-8' # 한글 깨져 나오면 이 코드를 실행해주세요.
# html.headers
# html.json
# html.raw
html.text

In [ ]:
params = {'pa1': 'val1', 'pa2': 'value2'}
response = requests.get('http://www.paullab.co.kr', params=params)

In [ ]:
import requests
from bs4 import BeautifulSoup

response = requests.get('http://www.paullab.co.kr/stock.html')
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser') # 원하는 문자열로 잘라줌

In [ ]:
soup.select('#update')

In [ ]:
soup.select('tr>.num>span')[5].text

'398,421'

In [ ]:
soup.select('tr')

In [ ]:
import matplotlib.pyplot as plt

plt.plot([10, 20, 30, 20, 25, 45])
plt.xticks(rotation = -45 ) # y 축 변수 기울기 설정
plt.show()

In [ ]:
# 문제1 https://www.paullab.co.kr/stock.html 서비스를 크롤링하여
# 제주코딩베이스캠프 연구원의 2019년 10월 총 거래량을 구해주세요.

#문제2 html에서 태그를 제거하고 텍스트만 뽑아낼 수 있도록 해주세요.
'<p>This is a <em>simple</em> example.</p>'

#문제3 아래 텍스트에서 이메일만 추출할 수 있는 정규표현식을 만들어주세요.
'제 이메일 주소는 example1@gmail.com이고 회사 이메일 주소는 example2@gmail.com 입니다. example1로 연락을 주셨다면 제게 메시지 한 번 부탁드립니다.'

In [ ]:
# 문제1
import requests
from bs4 import BeautifulSoup

response = requests.get('http://www.paullab.co.kr/stock.html')
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')

sum = 0
for i in range(len(soup.select('tbody tr')))[1:]:
    temp = soup.select('tbody tr')[i].select('.date')[0].text
    if temp.split('.')[1] == '10':
        sum += int(soup.select('.num')[(i+5)+(i*5)].text.replace(',', ''))
    else:
        break

print(format(sum, ','))

In [ ]:
# 문제 2
from bs4 import BeautifulSoup
html = '<p>This is a <em>simple</em> example.</p>'

result = BeautifulSoup(html,'html.parser')
print(result.text)

This is a simple example.

In [ ]:
#문제3 아래 텍스트에서 이메일만 추출할 수 있는 정규표현식을 만들어주세요.
import re

text = '제 이메일 주소는 example1@gmail.com이고 회사 이메일 주소는 example2@gmail.com 입니다. example1로 연락을 주셨다면 제게 메시지 한 번 부탁드립니다.'

email = re.sub(r'[^a-zA-Z0-9.@]', '', text)
email

'example1@gmail.comexample2@gmail.com.example1.'

In [ ]:
# a = soup.select('tbody tr')[1].select('.date')[0].text

sum = 0
for i in range(len(soup.select('tbody tr')))[1:]:
    a = soup.select('tbody tr')[i].select('.date')[0].text
    if a.split('.')[1] == '10':
        sum += int(soup.select('.num')[(i+5)+(i*5)].text.replace(',', ''))
    else:
        break

print(format(sum, ','))
# a.find('90')
# a.select_one('10')

11,202,451

In [ ]:
sum(soup.select('.num')[(i+5)+(i*5)].text)

TypeError: ignored

In [ ]:
range(len(soup.select('tbody tr')))[1:]

range(1, 84)

In [ ]:
soup.select('tbody tr')[1]

<tr>
<td align="center "><span class="date">2019.10.23</span></td>
<td class="num"><span>6,650</span></td>
<td class="num">
<img alt="상승 " height="6 " src="ico_up.gif " style="margin-right:4px; " width="7 "/><span>
                            20
                        </span>
</td>
<td class="num"><span>6,590</span></td>
<td class="num"><span>6,830</span></td>
<td class="num"><span>6,580</span></td>
<td class="num"><span>398,421</span></td>
</tr>

In [ ]:
sum += soup.select('.num')[(5+5)+(5*5)].text
sum

'1,982,922839,434'

In [ ]:
sum = int(soup.select('.num')[(5+5)+(5*5)].text.replace(',', ''))

839434

In [ ]:
# 문제1 https://www.paullab.co.kr/stock.html 서비스를 크롤링하여
# 제주코딩베이스캠프 연구원의 2019년 10월 총 거래량을 구해주세요

import requests
from bs4 import BeautifulSoup

response = requests.get('http://www.paullab.co.kr/stock.html')
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')

In [ ]:
class DailyTradingVolume:
    def __init__(self, 날짜, 종가, 전일비, 시가, 고가, 저가, 거래량):
        self.날짜 = 날짜
        self.종가 = 종가
        self.전일비 = 전일비
        self.시가 = 시가
        self.고가 = 고가
        self.저가 = 저가
        self.거래량 = 거래량

    def __str__(self)


class PublicCompany:
    def __init__(self, 시가총액, 상장주식수, 매출, 비용, 순익):
        self.시가총액 = 시가총액
        self.상장주식수 = 상장주식수
        self.매출 = 매출
        self.비용 = 비용
        self.순익 = 순익
        self.거래 = []

제코베연구원 = PublicCompany(시가총액 = 100,
                       상장주식수 = 100,
                       매출 = 100,
                       비용 = 100,
                       순익 = 100)

제코베연구원.매출

In [ ]:
'''
<tr>
<th scope="col">날짜</th>
<th scope="col">종가</th>
<th scope="col">전일비</th>
<th scope="col">시가</th>
<th scope="col">고가</th>
<th scope="col">저가</th>
<th scope="col">거래량</th>
</tr>
'''
# print(type(soup.select('.main > table')[0]))
# print(type(soup))
for i in soup.select('.main > table')[0].select('tr')[1:]:
    # print(i.select('td')[0].text)
    날짜 = i.select('td')[0].text
    종가 = i.select('td')[1].text
    전일비 = i.select('td')[2].text
    시가 = i.select('td')[3].text
    고가 = i.select('td')[4].text
    저가 = i.select('td')[5].text
    거래량 = i.select('td')[6].text
    제코베연구원.거래.append(DailyTradingVolume(날짜, 종가, 전일비, 시가, 고가, 저가, 거래량))

In [ ]:
제코베연구원.거래[0]

In [ ]:
def solution(data):
    x = data
    count = 0
    a = ''
    for i in range(x):
        a += str(x.pop())
        if a == [1, 2, 3, 4, 1]:
            count += 1
    print(x)
    print(count)

solution([1, 2, 3, 4, 1, 1])

TypeError: ignored

In [ ]:
def solution(data):
    new_l = []
    cnt = 0
    for i in data:
        new_l.append(i)
        if new_l[-5:] == [1, 2, 3, 4, 1]:
            for i in range(5):
                new_l.pop()
            print(new_l)
            cnt +=1
    return cnt

solution([1, 2, 3, 4, 1, 2, 3, 4, 1, 1])

[2, 3, 4, 1, 1]