<a href="https://colab.research.google.com/github/abcdqwer1/ormi3/blob/main/%EC%98%A4%EB%A5%B4%EB%AF%B8_3%EA%B8%B0_python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트

In [ ]:
# 시퀀스형 자료형
a = 'hello world'
a[0]
a[:5]

'hello'

In [ ]:
range(10)[3]

3

In [ ]:
range(100)[::5]

range(0, 100, 5)

In [ ]:
range(10)[3:]

range(3, 10)

In [1]:
a, b, c, d, e = 'hello'
d

'l'

In [3]:
b'world'

b'world'

In [4]:
b = b'world' # 유니코드표 X, 아스키코드표에서 찾습니다!
b[0]

119

In [ ]:
# b'' # 바이트
# f'' # f-string 용법
# r'' # raw값 출력

In [ ]:
enumerate([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 100)

In [ ]:
enumerate([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 100)[2]

In [ ]:
enumerate([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 100)[2:]

TypeError: ignored

In [ ]:
# 덧셈과 곱셈
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print(a + b) # 출력: [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 덧셈과 곱셈
a = [1, 2, 3, 4, 5]

print(a * 3) # 출력: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
a = [1, 2, 3]
a = a * 3

print(a)
id(a[0]), id(a[3])

[1, 2, 3, 1, 2, 3, 1, 2, 3]

(133100684394736, 133100684394736)

In [ ]:
a = [1, 2, 3]
a = [a * 2] * 2 # 리스트 컴프리헨션 사용하셔서 만드시는 것을 권합니다.

print(a)
id(a[0]), id(a[1])
a[0][0] = 10000
a

[[1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3]]

[[10000, 2, 3, 1, 2, 3], [10000, 2, 3, 1, 2, 3]]

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[0]) # 출력: 1
print(l[3]) # 출력: 4
print(l[-1]) # 출력: 5
print(l[-3]) # 출력: 3

1
4
5
3

In [ ]:
l = [1, 2, 3, 4, 5]
print(type(l))
print(dir(l))

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
[1, 2, 3] + [1, 2, 3] = [1, 2, 3, 1, 2, 3]
# [2, 4, 6] 요소마다 더해지는 것은 아닙니다. 그런데 이러한 코드는 __add__에 구현이 되어 있는 것입니다.
# __add__에 요소마다 더하는 것으로 구현이 되어 있었다면 [2, 4, 6]을 출력했을 것입니다.

In [ ]:
import numpy as np

l = [1, 2, 3]
l = np.array(l)
l * 3
l + l
# 너무 당연하게 요소를 붙이는 것이다라고 생각하지는 않으셨으면 좋겠습니다.

array([2, 4, 6])

In [ ]:
# 문제1: 이 데이터에서 licat을 출력해주세요. 단, 직접 접근은 안됩니다. data[1]로 접근하는 것은 안됩니다.
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]

In [ ]:
s = sorted(data, key=lambda x:x[1])[0][0]
s[s.find('licat'):]

'licat'

In [ ]:
s = str(list(data))
s[s.find('licat'):s.find('licat') + 5]

'licat'

In [ ]:
# 문제1: 다음 함수 is_palindrome를 완성하시오.
# 이 함수는 하나의 문자열을 인자로 받아, 해당 문자열이 팰린드롬(앞으로 읽으나 뒤로 읽으나 같은 단어나 구)이면
# True를, 아니면 False를 반환해야 합니다.
def is_palindrome(s):
    if list(reversed(s)) == list(s):
      return True
    return False

def is_palindrome(s):
    if s == s[::-1]:
      return True
    return False

def is_palindrome(word):
    if len(word) < 2:
        return True
    if word[0] != word[-1]:
        return False
    return is_palindrome(word[1:-1])

is_palindrome('level')
is_palindrome('world')

True

In [ ]:
# 문제2: 리스트 numbers가 주어졌을 때,
# 이 리스트 내의 모든 짝수를 제거하는 코드를 작성하시오.
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = list(filter(lambda x:x%2==1,numbers))
print(numbers)  # 결과: [3, 5, 7, 9]

# 리스트(이어서)

In [ ]:
# 리스트는 콤마 사이에 공백을 병합한다.
# 마지막에 콤마를 넣어도됩니다.
z = [
		1,
		'apple',
		2.5,
		['a', 'b'],
		(1, 2),
]
print(z[0])

In [ ]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print(a + b) # 출력: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
import numpy as np

l = [1, 2, 3]
l = np.array(l)
l * 3
l + l
# 너무 당연하게 요소를 붙이는 것이다라고 생각하지 않으셨으면 좋겠습니다.

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[0]) # 출력: 1
print(l[3]) # 출력: 4
print(l[-1]) # 출력: 5
print(l[-3]) # 출력: 3

In [5]:
sum([1, 2, 3, 4])

10

In [6]:
# list(range(101))와 슬라이싱을 사용해 아래 문제를 풀어주세요

# 문제 1 : 짝수를 모두 더해주세요
# 문제 2 : 3의 배수와 5의 배수를 모두 더해주세요
# 문제 3 : (슬라이싱 2개 사용) 난이도가 있는 보너스 문제 : 1부터 90까지의 짝수를 모두 더해주세요

In [7]:
sum(list(range(101)[0::2]))

2550

In [9]:
sum(list(range(101)[0::3])) + sum(list(range(101)[0::5])) - sum(list(range(101)[0::15]))

2418

In [11]:
sum(list(range(101))[0:91][::2])

2070

In [12]:
파이썬 자료형

SyntaxError: ignored

In [ ]:
l = [1, 2, 3]
dir(l)

In [21]:
#  'append',
#  'clear',
#  'copy',
#  'count',
#  'extend',
#  'index',
#  'insert',
#  'pop',
#  'remove',
#  'reverse',
#  'sort'

# append 1, 2, 3, 100 추가
l = [1, 2, 3]
l.append(100)
l

# clear 값 삭제
l = [1, 2, 3]
l.clear()
l

# copy copy()를 쓰지않으면 id가 같은데 copy를 사용하면 id가 달라짐
l = [10, 20, 30]
ll = l.copy()
ll[0] = 1000
l
id(l), id(ll)

# count() 특정 값이 리스트에 몇 번 포함되어 있는지 카운트합니다.
[1, 1, 1, 3, 3, 5, 6].count(1)

# extend()  extend는 요소 하나 하나를 전부 따로 추가 시켜줌 /append는 마지막 인덱스 1개에 그 값 전체를 넣음
l = [1, 2, 3]
l.append([100, 10])
l

l = [1, 2, 3]
l.extend([100, 10])
l

[1, 2, 3, [100, 10]]

In [ ]:
l = [10, 20, 30]
ll = l
id(l), id(ll)

In [ ]:
l = [10, 20, 30]
ll = l.copy()
ll[0] = 1000
id(l), id(ll)

In [ ]:
l = [10, 20, 30]
ll = l[:]
ll[0] = 1000
id(l), id(ll)

In [ ]:
# 이정도는 알아야 우리에게 충분합니다.
a = [10, 20]
b = [100, 200]

l = [a, b]
ll = l.copy()
print(id(l), id(ll))
l[0][0] = 10000
print(l, ll)

In [18]:
import copy

a = [10, 20]
b = [100, 200]

l = [a, b]
ll = copy.deepcopy(l)

print(id(l), id(ll))
l[0][0] = 100000
print(l, ll)

136087798966336 136087798776000
[[100000, 20], [100, 200]] [[10, 20], [100, 200]]

In [ ]:
import copy

k = [10000]

a = [10, k]
b = [100, k]

l = [a, b]
ll = copy.deepcopy(l)
k[0] = 1000000
print(l)
print(ll)

In [19]:
[1, 1, 1, 3, 3, 5, 6].count(1)

3

In [24]:
# userinput = input('숫자를 입력하세요:')
userinput = 123
l = [10, 20, 30]
l.extend(map(int, userinput))


ll = [10, 20, 30]
ll.extend(userinput)

l, ll

TypeError: ignored

In [26]:
l = [10, 20, 30, 40, 50]

l.index(30)
l.find(60) # find 메서드가 없습니다.

AttributeError: ignored

In [27]:
l = [10, 20, 30]
l.insert(2, 25)
print(l)

[10, 20, 25, 30]

# 연습문제

In [40]:
# [10, 20, 40, 50, 30]과 같은 리스트에서 20과 30 중간에 25라는 값을 삽입하고 싶습니다.
# 현재 리스트는 정렬되어 있지 않은데 이 리스트를 정렬하고 20과 30에 값을 index 메서드로 찾아
# insert로 중간에 값을 삽입해주세요.
# 다른 정답을 허용합니다.

num_list = [10, 20, 40, 50, 30]
num = 25

sort_num_list = sorted(num_list).index(30)

sort_num_list.insert(sort_num_list.index(30), num)


# num_list.insert(sorted(num_list.index(30)), num)
# num_list.index(30), num_list.index(20)

AttributeError: ignored

In [ ]:
# [10, 20, 40, 50, 30]와 같은 리스트에서 20과 30 중간에 25라는 값을 삽입하고 싶습니다.
# 현재 리스트는 정렬되어 있지 않은데 이 리스트를 정렬하고 20과 30에 값을 index 메서드로 찾아
# insert로 중간에 값을 삽입해주세요.
# 정답: [10, 20, 25, 30, 40, 50]
# * 다른 정답을 허용합니다.

s = sorted([10, 20, 40, 50, 30])
s.insert(s.index(30), 25)
s

s = [10, 20, 40, 50, 30]
s.append(25)
sorted(s)

# sorted([10, 20, 40, 50, 30].append(25)) # error
# print(s.append(100))의 값이 None이기 때문에 그렇습니다.

In [41]:
# 마지막에서 빼는 것
l = [10, 20, 30, 40, 50]
print(l.pop())
print(l)

50
[10, 20, 30, 40]

In [42]:
# 첫번째에서 빼는 것
l = [10, 20, 30, 40, 50]
print(l.pop(0))
print(l)

10
[20, 30, 40, 50]

In [43]:
# 첫번째에서 빼는 것
l = [10, 20, 30, 40, 50]
result = l.pop(0)
print(l, result)

[20, 30, 40, 50] 10

In [44]:
l = [1, 2, 3, 4, 5]

while l:
    print(l.pop())

5
4
3
2
1

In [45]:
l = [1, 2, 3, 4, 5]

while l:
    print(l.pop(0))

1
2
3
4
5

In [ ]:
l = [1, 2, 3, 1, 2, 2, 2, 1, 1]
l.remove(2)
print(l)  # 출력: [1, 3, 1, 2]

In [ ]:
l = [1, 2, 3, 1, 2, 2, 2, 1, 1]
while l.count(2):
    l.remove(2)
l

In [ ]:
l = [1, 2, 3, 1, 2, 2, 2, 1, 1]
list(filter(lambda x: x != 2, l))

In [49]:
# reversed와 reverse 차이, sorted와 sort 차이
# 원본 수정이 아니냐, 원본수정이냐? 입니다.

l = [1, 2, 10, 3, 4]
print(list(reversed(l))) # 출력: [4, 3, 10, 2, 1]
print(l)  # 출력: [1, 2, 10, 3, 4] # 원본은 그대로입니다.
reversed(l)

[4, 3, 10, 2, 1]
[1, 2, 10, 3, 4]

In [47]:
l = [1, 2, 10, 3, 4]
print(l.reverse()) # 출력 : return 값이
print(l) # 원본은 그대로입니다.

None
[4, 3, 10, 2, 1]

In [51]:
# reversed와 reverse 차이, sorted와 sort 차이
# 원본 수정이 아니냐, 원본수정이냐? 입니다.

l = [1, 2, 10, 3, 4]
print(list(sorted(l))) # 출력: [4, 3, 10, 2, 1]
print(l)  # 출력: [1, 2, 10, 3, 4] # 원본은 그대로입니다.

[1, 2, 3, 4, 10]
[1, 2, 10, 3, 4]

In [50]:
# reversed와 reverse 차이, sorted와 sort 차이
# 원본 수정이 아니냐, 원본수정이냐? 입니다.

l = [1, 2, 10, 3, 4]
print(l.sort()) # 출력: None
print(l)        # 출력: [1, 2, 3, 4, 10]

None
[1, 2, 3, 4, 10]

In [ ]:
# [게시물1, 게시물2, 게시물3, 게시물4]
# 게시물1 : 오래된 게시물이 저장되어 있을겁니다.
# 그러면 그냥 게시판을 출력했을 때 최상단에 노출되는 게시물은 가장 오래된 게시물일겁니다.
# 컴퓨터 입장에서는요
# 게시판.reverse() 후 append로 게시물을 추가했다고 가정해보면,
# 그러면 게시물 5는 원본을 수정했기 때문에 게시물1 뒤에 출력이 됩니니다.
# 게시판[::-1], reversed(게시판)을 사용해서 역순으로 만들었어야 했습니다.
# 보이는화면 = 게시판[::-1]
# 보이는화면 = reversed(게시판)

# 튜플(tuple)

In [ ]:
# 튜플은 안에 있는 값이 변경 불가능한 자료형이 아닙니다.
# 튜플은 참조 불변입니다.

x = (1, 2, 3)
# x[0] = 1000 안됨

In [52]:
x = [10, 20, 30]
y = (1, 2, x)
x[0] = 1000
y # 출력: (1, 2, [1000, 20, 30])

(1, 2, [1000, 20, 30])

In [54]:
# 데이터의 변경이 민감한곳
# 참조의 갯수가 변하면 안되는 곳
s = {'one':1, 'two':2}
s.items()

dict_items([('one', 1), ('two', 2)])

In [ ]:
t = (1, 2, 3, 4, 5)
print(t[1:4])  # 출력: (2, 3, 4)

In [55]:
t.count(1)

NameError: ignored

In [56]:
t.index(1)

NameError: ignored

# 딕셔너리(Dictionary)

In [57]:
# 파이썬 3.6 버전부터 삽입 순서가 보장
# colab, colab에서 불과 1~2년 전만 하더라도 print로 출력한 것은 정렬 출력,
# 맨 마지막 출력은 정렬하지 않고 출력했습니다.

In [58]:
d = {'bb':100, 'hello':10, 'world':20, 'aa':30}
print(d)
d

{'bb': 100, 'hello': 10, 'world': 20, 'aa': 30}

{'bb': 100, 'hello': 10, 'world': 20, 'aa': 30}

In [59]:
d = dict([('one' , '하나'), ('two', '둘')])
print(d)  # 출력: {'one' : '하나', 'two' : '둘'}

{'one': '하나', 'two': '둘'}

In [62]:
d = dict([['one' , '하나'], ['two', '둘']])
print(d)  # 출력: {'one' : '하나', 'two' : '둘'}

{'one': '하나', 'two': '둘'}

In [ ]:
# 이렇게는 안됨
d = dict(['one'], ['two'], ['둘'])
print(d)  # 출력: {'one' : '하나', 'two' : '둘'}

In [ ]:
# 자주 안씀
d = dict(name='licat', age=10)
print(d)  # 출력: {'name': 'licat', 'age': 10}

In [63]:
complex_dict = {
    "numbers": [1, 2, 3],
    42: "answer",
    ("x", "y"): [10, 20]
    True: [100, 200]
}
print(complex_dict["numbers"])  # 출력: [1, 2, 3]
print(complex_dict[42])         # 출력: answer
print(complex_dict[("x", "y")]) # 출력: [10, 20]
print(complex_dict[True]) # 출력: [10, 20]

SyntaxError: ignored

In [64]:
person = {'name': 'licat', 'city': 'Jeju'}
person['name'] = 'mura'
person['city'] = 'Seoul'

print(person)

{'name': 'mura', 'city': 'Seoul'}

In [65]:
keys = ["name", "city", "job"]
values = ["licat", "Jeju", "Developer"]

new_dict = dict(zip(keys, values))
print(new_dict)

{'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}

In [66]:
hero = {'name': 'licat', 'age': 10}
dir(hero)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [70]:
'clear',
'copy',
'fromkeys',
'get',
'items',
'keys',
'pop',
'popitem',
'setdefault',
'update',
'values'

hero = {'name' : 'licat', 'age' 10}
hero2.items()

# hero2.items()[0] error
list
list(hero2.items)()[0]

SyntaxError: ignored

In [ ]:
l# 'items',
# 'keys',
# 'values'
# 'fromkeys',
# 'get',
# 'pop',
# 'popitem',
# 'setdefault',
# 'update',

hero = {'name': 'licat', 'age': 10}
print(hero2.keys())
type(hero2.keys())

# 이렇게 많이 사용합니다.
for i in hero2.keys():
    print(i)

In [ ]:
'licat' in hero.values()
'mura' in hero.values()

# 얕은 복사와 깊은 복사

In [71]:
import copy

a = [1, 2]
b = [3, 4]

aa = [10, 20, a]
bb = [30, 40, b]

aaa = [100, 200, aa]
bbb = [300, 400, bb]

l = [aaa, bbb]
ll = copy.deepcopy(l)

# l = [a, b]
# ll = copy.deepcopy(l) # 깊은 복사
a[0] = 99
print(l)
print(ll)

[[100, 200, [10, 20, [99, 2]]], [300, 400, [30, 40, [3, 4]]]]
[[100, 200, [10, 20, [1, 2]]], [300, 400, [30, 40, [3, 4]]]]

In [ ]:
# 리스트 컴프리헨션으로 깊은 복사 구현(완전하진 않습니다.)
l = [[1, 2, 3], [4, 5, 6]]
ll = [i for i in l]
ll[0][0] = 1000
l

In [ ]:
l = [[1, 2, 3], [4, 5, 6]]
ll = [i for i in l]
ll[0][0] = 1000
print(l)
print(ll)

In [ ]:
# 위와 같은 방식으로 했을 때 완전하지 않은 코드
a = [9, 99]

l = [[1, 2, a], [4, 5, 6]]
ll = [i[:] for i in l]
a[0] = 10000
print(l)
print(ll)

In [72]:
a = [9999, 9999, 9999]
b = copy.deepcopy(a)
c = copy.deepcopy(b)
print(a, b, c)

print(id(a[0]), id(b[0]), id(c[0]))

[9999, 9999, 9999] [9999, 9999, 9999] [9999, 9999, 9999]
136087797926000 136087797926000 136087797926000

In [73]:
c = [9999, 9999, 9999]
id(c[0]), id(c[1]), id(c[2])
c[0] is c[1]

True

In [ ]:
test = {'one':9999, 'two':9998, 'three':9999}
id(test['one']), id(test['two']), id(test['three'])
#같은 컨벤션 내에 지정된 숫자는 동일한 메모리에 저장

In [ ]:
keys = ['name', 'city', 'job']
values = ['licat', 'Jeju', 'Developer']
print(dict.fromkeys(keys, values))

In [ ]:
keys = ['name', 'city', 'job']
value = None
print(dict.fromkeys(keys, values))

In [77]:
d = {'name' : 'licat', 'city': 'Jeju'}
d['name']
d.get('age', None)
d.get('age', '값 없음')

'값 없음'

In [ ]:
# 위험한 코드!!!
def 요일변경(n):
    return {
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
        7: '일요일',
    }[n]
요일변경(3)
#

In [ ]:

def 요일변경(n):
    return {
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
        7: '일요일',
    }[n]
요일변경(3)
# error 서비스 멈춥니다!

In [ ]:
# 아래와 같이 변경을 해주세요.
def 요일변경(n):
    return {
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
        7: '일요일',
    }.get(n) # 기본이 None입니다.

요일변경(3)
print(요일변경(8))
print(요일변경(8))

In [ ]:
# 아래와 같이 변경을 해주세요.
def f():
    return '금금금요일'

def 요일변경(w):
    return {
        '월': '월요일',
        '화': '화요일',
        '수': '수요일',
        '목': '목요일',
        '금': '금요일',
        '토': '토요일',
        '일': '일요일',
    }.get(w, f())

요일변경('하하')

In [80]:
numbers = {'one': '하나', 'two': '둘','three': '셋'}
one_value = numbers.pop('one')

In [79]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.pop('one')
numbers

{'two': '둘', 'three': '셋'}

In [82]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.pop()
numbers

TypeError: ignored

In [83]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
item = numbers.popitem()
print(item)

print(numbers)

('three', '셋')
{'one': '하나', 'two': '둘'}

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
four_value = numbers.setdefault("four", "넷")
print(four_value)
print(numbers)

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'four': '넷', 'five': '다섯'})
print(numbers)

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'four': '넷', 'five': '다섯'})
print(numbers)

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'three': 3, 'four': 4})
print(numbers)

# 연습 문제

In [109]:
국영수 = {'국어':97, '영어':38, '수학':90}
# 문제1. 다음 국영수 dict의 점수 평균을 구하시오.
# 문제2. {'사회':70, '과학':85}가 추가되었습니다. dict의 평균을 구하는 코드를 작성하세요.
# 문제3. 영어와 수학 점수가 각각 10점씩 올랐습니다. 점수를 추가하는 코드를 작성하세요.
# 문제4. 최종 점수에서 가장 높은 점수를 출력하는 코드를 작성하세요.
# 문제5. 가장 높은 점수에 과목을 출력해주세요.

# 1. avg = (국영수['국어'] + 국영수['영어'] + 국영수['수학']) / 3
# print(avg)

# 2. 국영수.update({'사회':70, '과학':85})
# avg = sum(국영수.values())/len(국영수.values())
# print(avg)

# 3. 국영수.update({'영어':국영수['영어']+10, '수학':100})

# 4. sorted(국영수.values())[::-1][0]

# 5. max(국영수.items(), key = lambda x: x[1])[0]
# 5. list(국영수.keys())[list(국영수.values()).index(max(국영수.values()))]
# 5. for key in 국영수:
#        if(국영수.get(key) == max(국영수.values())):
#           print(key)
# 5. [i for i, j in 국영수.items() if j == max(국영수.values())]
# 5. max(국영수,key=국영수.get)

75.0
75.0

AttributeError: ignored

In [ ]:
d = {'a': 10, 'bb': 9, 'c': 5, 'd': 6}
max(d) # 유니코드가 가장 큰 key값을 출력하겠다.

In [ ]:
d = {'a': 10, 'bb': 9, 'c': 5, 'd': 6}
max(d, key=len) # 길이가 가장 긴 key값을 출력하겠다.

In [ ]:
d = {'a': 10, 'bb': 9, 'c': 5, 'd': 6}
max(d, key=d.get) # d.get에서 반환된 가장 큰값의 key값을 출력하겠다.

# SET(집합)

In [ ]:
# 1. 중복이 되지 않습니다.
# 2. 순서가 없습니다.
# 3. 교집합, 차집합, 합집합 등이 가능합니다.

In [113]:
# 합집합
s = {1, 2, 3}
ss = {4, 5, 6}

s & ss

set()

# 리스트 컴프리헨션

In [114]:
l = []
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [117]:
l = [i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [118]:
l = []
for i in range(10):
    l.append(f'{i}입니다!')
l

['0입니다!',
 '1입니다!',
 '2입니다!',
 '3입니다!',
 '4입니다!',
 '5입니다!',
 '6입니다!',
 '7입니다!',
 '8입니다!',
 '9입니다!']

In [120]:
l = [f'{i}입니다.' for i in range(10)]
l

['0입니다.',
 '1입니다.',
 '2입니다.',
 '3입니다.',
 '4입니다.',
 '5입니다.',
 '6입니다.',
 '7입니다.',
 '8입니다.',
 '9입니다.']

In [ ]:
l = []
for i in range(2, 10):
    for j in range(1, 10):
        l.append(f'{i} X {j} = {i*j}')
l

In [ ]:
l = [f'{i} X {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]
l

In [125]:
# l = [i for i in range(10) if i % 2 == 0 else None]
l = [i if i % 2 == 0 else None for i in range(10)]
l

[0, None, 2, None, 4, None, 6, None, 8, None]

In [ ]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
    else:
        l.append(None)
l